body {
  background-color: #94aefc;
}
#app {
  margin: 2.5vh;
  height: 95vh;
  max-height: 95vh;
}
#main-app, search {
  background-color: #cacade;
}
#current-selection {
  background-color: #1a1a23;
}
#dashboard {
  min-height: 10vh;
}